*{
    margin: 0;
    padding: 0;
}
.sketch-container{
    margin: 20px;
    display:flex;
    height: 90vh;
    border-style: solid;
    border-color: yellow;
    justify-content: space-between;
}

.grid-container{
    margin: 10px;
    background-color: rgb(255, 250, 236);
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    flex: auto;
    border-style: solid;
    border-color: orange;
    aspect-ratio: 1/1;
} 
.function-container{
    margin: 10px;
    background-color: rgb(255, 250, 236);
    display: flex;
    flex: auto;
    border-style: solid;
    border-color: orange;
    aspect-ratio: 1/1;
    justify-content: center;
} 
.grid{
    background-color: rgb(224, 161, 161);
    border-style: solid;
}
.grid-menu {
    margin: 2%;
    padding: 5%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
#i_color{
    width: 100px;
    height: 100px;
}
form{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;;
}
button{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    color: orange;
    background-color: black;
    border-style: solid;
    border-color: orange;
    border-radius: 10%;
}
button:hover{
    background-color: rgb(233, 155, 83);
    color:black;
}
label{
    text-align: center;
    color:red;
    font-size: 20px;
}